<div class="iapp-search-wrap iapp-fade">
    <div class="iapp-search ">
        <div class="iapp-header">Critical vacancies at the VA</div>
                <p class="iapp-chatter">The Veterans Health Administration had thousands of medical jobs unfilled as of July 15. At some hospitals, half of many critical jobs are open, resulting in long waits for care. Search by facility, city or state for details and wait times.</p>
        <div class="iapp-search-input-group">
            <img class="iapp-search-icon" src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/search-icon.svg" alt="Info">
            <input class="iapp-search-input" type="text" placeholder="Search states">
        </div>
        <div class="iapp-search-results-wrap" style="display: none">
            <div class="iapp-search-results-inner-wrap"></div>
        </div>
        <div class="iapp-detail-container"></div>
    </div>
    <div class="iapp-info-button">
        <img src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/question-icon.svg" alt="Info">
    </div>
</div>

<div class="iapp-info-wrap">
    <div class="iapp-info-close"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/close-icon-white.svg" alt="close"></div>
    <div class="iapp-info-inner-wrap">
        <h3 class="iapp-info-header">Credits</h3>
        <p class="iapp-info-p">Meghan Hoyer, Jodi Upton, Mitchell Thorson, Shawn SUllivan, USA TODAY</p>
    </div>
    <div class="iapp-detail-background js-iapp-info-background"></div>
</div>
<div class="iapp-mobile-video-container"></div>
