<div class="iapp-search-wrap iapp-fade">
    <div class="iapp-search ">
        <div class="iapp-header">Police chases kill thousands</div>
                <p class="iapp-chatter">Nearly every day, someone is killed during a high-speed chase between police and a suspect. Almost half of the 11,500 people killed since 1979 have been bystanders or passengers in fleeing cars. The following interactive graphic lets you analyze the number of deaths in every state and in major counties. It also explains what kinds of people were killed and why deadly chases began.</p>
        <div class="iapp-search-input-group">
            <img class="iapp-search-icon" src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/search-icon.svg" alt="Info">
            <input class="iapp-search-input" type="text" placeholder="Search states">
        </div>
        <div class="iapp-search-results-wrap" style="display: none">
            <div class="iapp-search-results-inner-wrap"></div>
        </div>
        <div class="iapp-detail-container"></div>
    </div>
    <div class="iapp-info-button" style="display: none">
        <img src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/question-icon.svg" alt="Info">
    </div>
    <div class="iapp-play-button">
        <img src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/play-icon-white.svg" alt="Play video"> <span>Play Video</span>
    </div>
</div>

<div class="iapp-info-wrap">
    <div class="iapp-info-close"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/close-icon-white.svg" alt="close"></div>
    <div class="iapp-info-inner-wrap">
        <h3 class="iapp-info-header">Credits</h3>
        <p class="iapp-info-p">Tom Frank, John Kelly, Shawn Sullivan, Mitchell Thorson, Zachary Walker, USA TODAY</p>
    </div>
    <div class="iapp-detail-background js-iapp-info-background"></div>
</div>
<div class="iapp-mobile-video-container"></div>
