<div class="iapp-detail-inner-wrap">
    <h2 class="iapp-detail-head"><%=facility%></h2>
    <p><td class="table-number"><%=city%>, <%=state%> </td></p>
    <div class="iapp-detail-group">
            <span class="iapp-detail-data-label"> </span>
            <span class="iapp-detail-data-text label label-primary"><%print(Math.round(pct_appts_over_30_day*10)/10)%>%</span><span> of pending appointments not fulfilled within 30 days of the patient’s desired date.</span>
            
        </div>
    <h3 class="iapp-detail-sub-head">Region Overview</h3>
    <div class="iapp-detail-chart"></div>
    <div class="iapp-detail-key">
        <div class="iapp-detail-key-item">
            <span class="iapp-detail-key-color police"></span>
            <span class="iapp-detail-key-text">Vacant Positions: </span>
            <br/>
            <span class="iapp-detail-key-item-number"><%=positions_vacant%></span>
        </div>
        <div class="iapp-detail-key-item">
            <span class="iapp-detail-key-color driver"></span>
            <span class="iapp-detail-key-text">Filled Positions:</span>
            <br/>
            <span class="iapp-detail-key-item-number"><% print(overall_jobs - (Math.round(positions_vacant*10)/10))%></span>
        </div>
    </div>
    <h3 class="iapp-detail-sub-head">Region Breakdown</h3>
       <table class="table table-condensed">
            <tr>
                <th>Overall Vacancy</th>
                <td class="table-number"><%print(Math.round(overall_percent_vacant*10)/10)%>%</td>
                <td class="table-number"><%print(Math.round(national_overall*10)/10)%>%</td>
            </tr>
            <tr>
                <th>Schedulers / Workflow Assistants</th>
                <td class="table-number"><%print(Math.round(scheduler_clinic_workflow*10)/10)%>%</td>
                <td class="table-number"><%print(Math.round(national_scheduler_clinic_workflow*10)/10)%>%</td>
            </tr>
            <tr>
                <th>Nurses</th>
                <td class="table-number"><%print(Math.round(nurse*10)/10)%>%</td>
                <td class="table-number"><%print(Math.round(national_nurse*10)/10)%>%</td>
            </tr>
            <tr>
                <th>Physical Therapists</th>
                <td class="table-number"><%print(Math.round(physical_therapist*10)/10)%>%</td>
                <td class="table-number"><%print(Math.round(national_physical_therapist*10)/10)%>%</td>
            </tr>
            <tr>
                <th>Physicians</th>
                <td class="table-number"><%print(Math.round(physician*10)/10)%>%</td>
                <td class="table-number"><%print(Math.round(national_physician*10)/10)%>%</td>
            </tr>
            <tr>
                <th>Physician Assistants</th>
                <td class="table-number"><%print(Math.round(physician_assistant*10)/10)%>%</td>
                <td class="table-number"><%print(Math.round(national_physician_assistant*10)/10)%>%</td>
            </tr>
            <tr>
                <th>Psychologists</th>
                <td class="table-number"><%print(Math.round(psychology*10)/10)%>%</td>
                <td class="table-number"><%print(Math.round(national_psychology*10)/10)%>%</td>
            </tr>
        </table>
        <h4 class="iapp-detail-info">Source: Veterans Affairs Administration</h4>
</div>
<div class="iapp-detail-share-wrap">
    <span class="iapp-detail-share-button">Share</span>
    <div class="iapp-share-icon-wrap">
        <a href="https://twitter.com/intent/tweet?url=<%=twitterShare%>&text=<%=encodedShare%>" class="iapp-share-button iapp-share-icon iapp-share-twitter iapp-share-popup" target="_blank"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/twitter.svg" alt="Twitter share"></a>
        <a href='https://www.facebook.com/dialog/feed?display=popup&app_id=<%=fb_id%>&link=<%=fbShare%>&picture=<%=stillimage%>&name=&description=<%=encodedShare%>&redirect_uri=<%=fb_redirect%>' class="iapp-share-button iapp-share-icon iapp-share-facebook iapp-share-popup" target="_blank"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/facebook.svg" alt="Facebook share"></a>
    </div>
</div>
