<div class="iapp-detail-inner-wrap">
    <h2 class="iapp-detail-head">Veterans Health Administration</h2>
    <div class="iapp-detail-group">
            <span class="iapp-detail-data-label">Total Medical Vacancies: </span>
            <span class="iapp-detail-data-text label label-primary"><%= total_vacant_jobs %></span>
        </div>
    <h3 class="iapp-detail-sub-head">National Overview</h3>
    <div class="iapp-detail-chart"></div>
    <div class="iapp-detail-key">
        <div class="iapp-detail-key-item">
            <span class="iapp-detail-key-color police"></span>
            <span class="iapp-detail-key-text">Vacant Positions: </span>
            <br/>
            <span class="iapp-detail-key-item-number"><%=overall_percent_vacant%></span>
        </div>
        <div class="iapp-detail-key-item">
            <span class="iapp-detail-key-color driver"></span>
            <span class="iapp-detail-key-text">Filled Positions:</span>
            <br/>
            <span class="iapp-detail-key-item-number"><% print(100 - overall_percent_vacant)%></span>
        </div>

        <!-- I removed one of the key items here -->
    </div>
    <h3 class="iapp-detail-sub-head">Systems with largest vacancies</h3>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Health Care System</th>
                <th>Location</th>
                <th>Overall Vacancy</th>
                <th>Critical Need</th>
                <th>Critical Vacancy</th>
            </tr>
        </thead>
        <tbody>
        <% _.each(top_10, function(facility) { %>
            <tr>
                <td><%= facility.facility %></td>
                <td class="table-number"><%= facility.city %>, <%= facility.state %> </td>
                <td class="table-number"><%= facility.overall_percent_vacant %></td>
                <td class="table-number"><%= facility.critical_job %></td>
                <td class="table-number"><%= facility.critical_vacancy_rate %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>
<div class="iapp-detail-share-wrap">
    <span class="iapp-detail-share-button">Share</span>
    <div class="iapp-share-icon-wrap">
        <a href="https://twitter.com/intent/tweet?url=<%=twitterShare%>&text=<%=encodedShare%>" class="iapp-share-button iapp-share-icon iapp-share-twitter iapp-share-popup" target="_blank"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/twitter.svg" alt="Twitter share"></a>
        <a href='https://www.facebook.com/dialog/feed?display=popup&app_id=<%=fb_id%>&link=<%=fbShare%>&picture=<%=stillimage%>&name=&description=<%=encodedShare%>&redirect_uri=<%=fb_redirect%>' class="iapp-share-button iapp-share-icon iapp-share-facebook iapp-share-popup" target="_blank"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/07/rape-kits/img/facebook.svg" alt="Facebook share"></a>
    </div>
</div>
