article * {
   -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
   -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
}

header * {
    box-sizing: content-box;
}

div.non-article-content{
  padding: 0 !important;
}

body, html, article {
  padding: 0;
  margin: 0;
  width: 100%;
}

article {
  background: $pale-grey-red !important;
  font-family: "Futura Today Bold", Arial,sans-serif;
  font-size: 100%;
  padding: 0 !important;
  width: 100% !important;
  @media (max-width: 500px) {
    font-size: 85%;
  }
}

.iapp-embed article {
    font-size: 85%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.iapp-clickable {
  cursor: pointer;
}

.u-fancy-scrollbar {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0,0,0)
}

.u-fancy-scrollbar::-webkit-scrollbar {
    height: 9px;
    width: 9px
}

.u-fancy-scrollbar::-webkit-scrollbar-button:end:increment,.u-fancy-scrollbar::-webkit-scrollbar-button:start:decrement {
    background: 0 0;
    display: none
}

.u-fancy-scrollbar::-webkit-scrollbar-track-piece {
    background: #d6dadc
}

.u-fancy-scrollbar::-webkit-scrollbar-track-piece:vertical:start {
    border-radius: 5px 5px 0 0
}

.u-fancy-scrollbar::-webkit-scrollbar-track-piece:vertical:end {
    border-radius: 0 0 5px 5px
}

.u-fancy-scrollbar::-webkit-scrollbar-track-piece:horizontal:start {
    border-radius: 5px 0 0 5px
}

.u-fancy-scrollbar::-webkit-scrollbar-track-piece:horizontal:end {
    border-radius: 0 5px 5px 0
}

.u-fancy-scrollbar::-webkit-scrollbar-thumb:horizontal,.u-fancy-scrollbar::-webkit-scrollbar-thumb:vertical {
    background: #c4c9cc;
    border-radius: 5px;
    display: block;
    height: 50px
}




/*******
remove top margin when we remove header
******/

.in-app article.padded-container, .in-app article.padded-container.first-margin, .in-app.has-notifications article.padded-container {
    //have to override inline style
    margin-top: 0 !important;
}
